.overlay {
    position: fixed;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 60%;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.modalHeader {
    display: flex;
}

.modalBody {
    display: flex;
}

.modalFooter {
    display: flex;
}

.button {
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
}