.postCard {
    padding: 5px;
    margin: 20px 10px 10px;
    border-radius: 20px;
    display: flex;
}

.id {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    min-width: 100px;
}

.postCard__main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.postCard__main__title {
    font-weight: bold;
}

.postCard__main__body {
    text-align: left;
}

.light {
    background-color: rgb(139, 174, 102);
    border: 1px solid black;
    color: black;
}

.dark {
    background-color: rgb(156, 171, 132);
    border: 1px solid white;
    color: black;
}