.postList {
    /* padding: 20px; */
    margin: 20px 10px 10px;
    border-radius: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.postList__header {
    background-color: rgb(75, 75, 214);
    border-radius: 10px;
    color: white;
    display: flex;
    padding: 5px;
}

.postList__main {}