.postList {
    /* padding: 20px; */
    margin: 20px 10px 10px;
    border-radius: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
}

.postList__header {
    border-radius: 10px;
    display: flex;
    padding: 5px;
}

.light {
    background-color: rgb(75, 75, 214);
    color: white;
}

.dark {
    background-color: rgb(0, 0, 135);
    color: white;
}