.comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    margin: 20px 10px 10px;
    gap: 10px;
}

.id {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    min-width: 150px;
    width: 150px;
    height: 150px;
}

.main__post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
}

.main__title {
    font-weight: bold;
}

.main__body {
    text-align: left;
}



.light {
    background-color: rgb(139, 174, 102);
    border: 1px solid black;
    color: black;
}

.dark {
    background-color: rgb(156, 171, 132);
    border: 1px solid white;
    color: black;
}