.main {
    padding: 20px;
    margin: 30px 20px 20px;
    border-radius: 20px;
    background-color: rgb(211, 211, 211);
}

.light {
    background-color: rgb(246, 240, 215);
    color: black;
}

.dark {
    background-color: rgb(27, 33, 26);
    color: white;
}