.main {
    padding: 20px;
    margin: 30px 20px 20px;
    border-radius: 20px;
    background-color: rgb(211, 211, 211);
}

.light {
    background-color: rgb(211, 211, 211);
    color: black;
}

.dark {
    background-color: rgb(28, 27, 27);
    color: white;
}