.footer {
    padding: 20px;
    margin: 30px 20px 30px;
    border-radius: 20px;
    background-color: lightgrey;
    display: flex;
}

.light {
    background-color: lightgrey;
    color: black;
}

.dark {
    background-color: rgb(28, 27, 27);
    color: white;
}