.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 30px 20px;
    border-radius: 20px;
}

.h1 {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.light {
    background-color: rgb(246, 240, 215);
    color: black;
}

.dark {
    background-color: rgb(27, 33, 26);
    color: white;
}